@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --neonBlue: #08f7fe;
  --darkGray: #40464a;
  --magenta: #f148fb;
}


*{
  box-sizing: border-box;
  margin: 0;
}

.lightMode {
   min-height: 100%;
   /* background: linear-gradient(#4E65FF, #92EFFD),
                linear-gradient(#4E65FF, #011ffd); */
   /* background: linear-gradient(#3b27ba,#652ec7, #560a86); */
   /* background: white; */
   background-image: linear-gradient(to right, #ff8b3d,#ff9d5c, #ffaf7a, #fbb006,#fa5f09, #ce2304);
   background-size: 400%;
   /* background-repeat: no-repeat;
   background-position: center center; */
   animation: background-effect 6s forwards;
}

.darkMode {
  min-height: 100%;
  background: linear-gradient(#170730, #1e2342);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mainContainer {
  padding: 1rem;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1.2fr 1.2fr 0.7fr;
  grid-template-areas:
    "titleLogo titleLogo projectsDiv projectsDiv"
    "titleLogo titleLogo aboutContent aboutContent"
    "titleLogo titleLogo skillsContent skillsContent"
    "footer footer footer footer";
  grid-gap: 1rem;
  font-family: 'Fjalla One', sans-serif;
}

.topSpacer {
  grid-area: topSpacer;
}

.titleLogo {
  grid-area: titleLogo;
}

.logo {
  position: fixed;
  top: 40%;
  /* z-index: 1; */
  animation: drop-in 1s ease-in;
}

.logo > h1 {
  font-size: 6rem;
  font-family: 'Lobster', cursive;
  padding-top: .2em;
  text-shadow: 0em 0em .07em #08f7fe;
  animation: fade-in 1s;
}

#contactMe {
  padding: 2rem;
}

#contactMe > button {
  background: rgba(255,255,255,.3);
  border: solid 1px #08f7fe;
  color: #08f7fe;
  border-radius: .2em;
}

#contactMe > button:hover {
  background: rgba(255,255,255,.8);
  cursor: pointer;
  transition: .5s;
}

/* ======== PROJECT CARDS ======== */
/* .proj1Div, .proj2Div, .proj3Div, .proj4Div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
} */
.projectsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ========== ABOUT CARDS ========== */
.aboutContent {
  grid-area: aboutContent;
  margin-top: 2rem;
  background: rgba(255,255,255,.5);
  margin: auto;
  width: 85%;
  height: 30rem;
  padding: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 0.7em #f148fb;
  border-radius: .5em;
  font-family: sans-serif;
  color: var(--darkGray);
}

.aboutContent > p {
  margin: 1rem;
}


.skillsContent {
  grid-area: skillsContent;
  margin-top: 2rem;
  background: rgba(255,255,255,.5);
  margin: auto;
  width: 85%;
  height: 25rem;
  padding: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 0.7em #f148fb;
  border-radius: .5em;
  font-family: sans-serif;
  color: var(--darkGray);
}

.skillsContent > ul > li {
  margin-top: .3em;
}




#bckGrndBtn {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1em;
  color: #f148fb;

}


.App {
  text-align: center;
  color: #fcf7eb;
}


.projectsDiv {
  grid-area: projectsDiv;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 2rem;
  width: 85%;

}

.secondHeading {
  margin: auto;
}



#victor, #developer {
  color: white;
}

#twu, #software {
  text-shadow: 0em 0em .05em white;
  color: var(--neonBlue);
}

#skills {
  color: var(--magenta);
}

#textLoopCell {
  position: absolute;
  float: right;
  padding-left: .5em;

  /* text-shadow: .0em .0em .4em white; */
}

.navDiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  color: #f148fb;
}

.navDiv > h5 > a {
  color: var(--neonBlue);
  text-decoration: none;
  /* text-shadow: 0em 0em .1em white */
}

.navDiv > h5:hover {
  transform: scale(1.2, 1.2);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}

#about, #skillsHeading {
  font-family: Fjalla One;
  color: var(--neonBlue);
}

#featuredProjects {
  font-family: Fjalla One;
  color: var(--magenta);
}


#backgroundBtn {
  background: rgba(255,255,255,.3);
  border: solid 1px #08f7fe;
  color: #08f7fe;
  border-radius: .2em;
}

#backgroundBtn:hover {
  background: rgba(255,255,255,.8);
  cursor: pointer;
  transition: 1s;
}

.showForm {
  display: block;
}

.hideForm {
  display: none;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background: rgba(0,0,0,0.7);
  animation: fade-in .5s;
}

.submitFormCnt {
  text-align: center;
  background: rgba(227, 82, 9, .7);
  padding: 1rem;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: .5em;
}

form {
  width: 100%;
}

form > input, #message {
  margin: 1em;
  width: 95%;
  border-radius: .3em;
}

input {
  border: none;
  height: 2.5em;
}

form > table {
  margin: auto;
}

.formBtn {
  background: none;
  color: white;
  border: solid 1px white;
  border-radius: .1em;
}

.formBtn:hover {
  background: rgba(255,255,255,.7);
  cursor: pointer;
  border-color: blue;
  transition: 1s;
}

footer {
  grid-area: footer;
  margin-top: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  box-shadow: 0 0 0.3em rgba(0,0,0,.5);
  border: solid 1px white;
  border-radius: .5em;
}

#contactLinkFooter:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: transform 330ms ease-in-out;
  font-weight: bold;
}

@keyframes drop-in {
  0% { top: 0%; }
  100% { top: 40%; }
}

@keyframes background-effect {
  0% { background-position: left; }
  100% { background-position: right; }
}

@keyframes fade-in {
  0%   { opacity: 0; }
 100% { opacity: 1; }
}

@media only screen and (max-width:500px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows:  0.5fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.5fr;
    grid-template-areas:
      'titleLogo'
      'projectsDiv'
      'projectsDiv'
      'projectsDiv'
      'aboutContent'
      'skillsContent'
      'footer';
  }
  .logo {
    top: 0;
    animation: none;
  }
  .logo > h1 {
    font-size: 4rem;
  }
  .projectsDiv {
    margin-top: 3.5rem;

  }
}
