@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.lightMode {
   min-height: 100%;
   /* background: linear-gradient(#4E65FF, #92EFFD),
                linear-gradient(#4E65FF, #011ffd); */
   /* background: linear-gradient(#3b27ba,#652ec7, #560a86); */
   background: linear-gradient(#ff8b3d,#ff9d5c, #ffaf7a);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.darkMode {
  min-height: 100%;
  background: linear-gradient(#170730, #1e2342);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mainContainer {
  padding: 1rem;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr 1.2fr 1.2fr 1.2fr 0.5fr 1.2fr 0.5fr 1.2fr 0.2fr;
  grid-template-areas:
    "topSpacer topSpacer topSpacer topSpacer"
    "titleLogo titleLogo projectsDiv projectsDiv"
    "titleLogo titleLogo projectsDiv projectsDiv"
    "titleLogo titleLogo projectsDiv projectsDiv"
    "titleLogo titleLogo projectsDiv projectsDiv"
    "titleLogo titleLogo aboutContent aboutContent"
    "titleLogo titleLogo aboutContent aboutContent"
    "titleLogo titleLogo skillsContent skillsContent"
    "titleLogo titleLogo skillsContent skillsContent"
    "footer footer footer footer";
  grid-gap: 1rem;
}

.topSpacer {
  grid-area: topSpacer;
}

.titleLogo {
  grid-area: titleLogo;
}

.logo {
  position: fixed;
  top: 40%;
  z-index: 1;
}

.logo > h1 {
  font-size: 4.5rem;
  font-family: 'Lobster', cursive;
  padding-top: .2em;
  animation: fade-in 3s;
}

/* .projectsHeading {
  grid-area: projectsHeading;


} */

/* .proj1Div {
  grid-area: proj1Div;
}

.proj2Div {
  grid-area: proj2Div;
}

.proj3Div {
  grid-area: proj3Div;
} */

.proj1Div, .proj2Div, .proj3Div {
  margin-top: 2rem;
}

/* .aboutTitle {
  grid-area: aboutTitle;
} */

.aboutContent {
  grid-area: aboutContent;
}

/* .skillsTitle {
  grid-area: skillsTitle;
} */

.skillsContent {
  grid-area: skillsContent;
}




#bckGrndBtn {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1em;
  color: #f148fb;

}


.App {
  text-align: center;
  color: #fcf7eb;
}


.projectsDiv {
  grid-area: projectsDiv;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: nowrap;
  margin: auto;
  width: 90%;
  /* height: 40rem; */

}

/* h1 {
  padding-top: 2.5rem;
  animation: fade-in 3s;
  font-family: Fjalla One;
  font-size: 3.5rem;
  margin-bottom: 0;
} */

.secondHeading {
  margin: auto;
}

#victor, #developer {
  color: white;
}

#twu, #software {
  text-shadow: .1em .4em .9em #08f7fe;
  color: #08f7fe;
}

#skills {
  color: #f148fb;
}

#textLoopCell {
  position: absolute;
  float: right;
  padding-left: .5em;
  text-shadow: .1em .4em .9em #f148fb;
}

.projectHeading {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  /* letter-spacing: 1rem; */
}



h3 {
  animation: fade-in 7s;
  margin-top: 0;
  font-family: Fjalla One;

}

.navDiv {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  color: #f148fb;
}

.navDiv > h5 > a {
  color: #f148fb;
  text-decoration: none;
}

.navDiv > h5:hover {
  transform: scale(1.2, 1.2);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}

#about {
  font-family: Fjalla One;
  color: #f148fb;
}

.brandStatementDiv {
  margin: auto;
  padding-top: 3rem;

  width: 75%;
  border-radius: 5px;
}

.brandStatementDiv > p {
  width: 75%;
  padding: .5rem;
  margin: auto;
}

footer {
  grid-area: footer;

}




@keyframes fade-in {
  0%   { opacity: 0; }
 100% { opacity: 1; }
}

@media only screen and (max-width:500px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr .2fr 0.2fr 1.2fr 1.2fr 1.2fr 0.2fr 1.2fr 0.2fr 1.2fr 0.2fr;
    grid-template-areas:
      'topSpacer'
      'titleLogo'
      'projectsDiv'
      'projectsDiv'
      'projectsDiv'
      'projectsDiv'
      'aboutTitle'
      'aboutContent'
      'skillsTitle'
      'skillsContent'
      'footer';
  }
  .logo {
    top: 0;
  }
  .projectsDiv {
    margin-top: 3.5rem;
  }
}
