@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');



.lightMode {
   min-height: 100%;
   background: linear-gradient(#4E65FF, #92EFFD),
                linear-gradient(#4E65FF, #011ffd);
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.darkMode {
  min-height: 100%;
  background: linear-gradient(#170730, #1e2342);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#bckGrndBtn {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1em;
  color: #f148fb;

}


.App {
  text-align: center;
  color: #fcf7eb;
}

.projectsDiv {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
  height: 30rem;

  border-radius: 10px
}

.projectCard {
  width: 20%;
  height: 85%;
  margin: 1.5em;
  border: solid .5em #f148fb;
  box-shadow: inset 0 0 0.5em 0 #f148fb, 0 0 0.5em 0 #f148fb;

}


h1 {
  animation: fade-in 3s;
  font-family: Amaranth;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.secondHeading {
  margin: auto;
}

#twu, #software {
  color: #08f7fe;;
}

#skills {
  color: #f148fb;
}

#textLoopCell {
  position: absolute;
  float: right;
  padding-left: .5em;

}

h3 {
  animation: fade-in 7s;
  margin-top: 0;
  font-family: Amaranth;

}

.navDiv {
  display: flex;
  justify-content: space-evenly;
  color: #f148fb;
}

.navDiv > h4:hover {
  transform: scale(1.2, 1.2);
  transition: transform 330ms ease-in-out;
  cursor: pointer;
}

#about {
  font-family: Amaranth;
  color: #f148fb;
}

.brandStatementDiv {
  background: rgba(0, 0, 0, .15);

  margin: auto;
  width: 75%;
  border-radius: 5px;
}

.brandStatementDiv > p {
  padding: .5rem;
  margin: .5rem;
}

footer {
  width: 100;
  height: 5rem;
}




@keyframes fade-in {
  0%   { opacity: 0; }
 100% { opacity: 1; }
}
